@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: 'Montserrat';
        src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
    }
}
@layer components{
    .stepper .active-stepper ~ li [circle]{
        @apply bg-white;
    }
    .stepper .active-stepper [text]{
        @apply !text-black text-[14px];
    }
    .slick-arrow::before{
        @apply text-darkBlack;
    }
    .modal {
        @apply  hidden w-full min-h-[275px] lg:min-h-[auto];
    }
    .modal.open {
        @apply block ;
    }
    .calendar-cell {
        @apply col-span-1 text-center border-y-1 border-stone-300 h-[48px];
    }
    .treatment{
        @apply bg-success text-white;
    }
    .counseling{
        @apply bg-sky-600 text-white;
    }
    .personal{
        @apply bg-primary text-white;
    }
    .off{
        @apply bg-darkBlack text-white;
    }
    .hasError > *{
        @apply !border-red-600;
    }
    .r-triangle{
            translate: 3px 0 ;
            border-style: solid;
            border-width: 12px 0 12px 24px;
            border-color: transparent transparent transparent rgb(188 99 242 / var(--tw-bg-opacity));
    }
}
