#menu-desktop::-webkit-scrollbar {
    width: 5px;
    scroll-margin-right: 10px;
}

#menu-desktop::-webkit-scrollbar-track {
    background: transparent;
}

#menu-desktop::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 100px;
    scroll-margin-right: 10px;
}

#history-desktop::-webkit-scrollbar {
    width: 5px;
    scroll-margin-right: 10px;
}

#history-desktop::-webkit-scrollbar-track {
    background: transparent;
}

#history-desktop::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 100px;
    scroll-margin-right: 10px;
}

/* MINI CALENDAR */
.ui-datepicker-header {
    font-size: 12px ;
    display: flex;
    justify-content: space-between;

}
.ui-datepicker-calendar {
    width: 100%;
    margin-top: 16px;
}
.ui-icon {
    cursor: pointer;
}
.ui-datepicker-calendar th{
    font-size: 12px;
}
.ui-datepicker-calendar td{
    text-align: center;
}
.ui-datepicker-calendar a{
    font-size: 11px;
}
.ui-datepicker-today{
    border-radius: 600px;
    background-color: #bc63f2;
    color: white;
}