#menu-desktop::-webkit-scrollbar {
    width: 5px;
    scroll-margin-right: 10px;
}

#menu-desktop::-webkit-scrollbar-track {
    background: transparent;
}

#menu-desktop::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 100px;
    scroll-margin-right: 10px;
}

#history-desktop::-webkit-scrollbar {
    width: 5px;
    scroll-margin-right: 10px;
}

#history-desktop::-webkit-scrollbar-track {
    background: transparent;
}

#history-desktop::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 100px;
    scroll-margin-right: 10px;
}

/* MINI CALENDAR */
.ui-datepicker-header {
    font-size: 12px;
    display: flex;
    justify-content: center;
    column-gap: 32px;
    color: #bc63f2;
    font-size: 1.2rem;
}

.ui-datepicker-header .ui-datepicker-prev {
    order: 1
}

.ui-datepicker-header .ui-datepicker-title {
    order: 2
}

.ui-datepicker-header .ui-datepicker-next {
    order: 3
}

.ui-datepicker-calendar {
    width: 100%;
    margin-top: 16px;
}

.ui-icon {
    cursor: pointer;
}

.ui-datepicker-calendar th {
    text-align: center;
    padding-bottom: 16px;
    font-size: 12px;
}

.ui-datepicker-calendar td {
    text-align: center;
}

.ui-datepicker-calendar td {
    font-size: 11px;
}

.ui-datepicker-today a {
    border-radius: 600px;
    background-color: #bc63f2;
    color: white;
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
}